{% extends 'base.html.twig' %}
{% block title %}New Product{% endblock %}
{% block body %}
    {% include 'product/form.html.twig' %}
    <a class="btn btn-primary rounded-pill py-3 px-5" href="{{ path('product_list') }}">Return to list</a>
{% endblock %}